@model PaginatedList<CsvDocumentWebViewer.Services.ModelsView.ClientView>

@{
    ViewData["Title"] = "Clients";
}

<h1>Clients</h1>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by surname: <input type="text" name="clientSurname" value="@ViewData["SurnameFilter"]" />
            Find by name: <input type="text" name="clientName" value="@ViewData["NameFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> <h7>|</h7>
            <a asp-action="Index">Full List</a>
            @if (User.IsInRole("admin"))    
            {
                <h7>|</h7> <a asp-action="Create">Create New</a>
            }
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Surname
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Surname)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ClientId">Details</a>
                    @if (User.IsInRole("admin"))
                    {
                        <h7>|</h7> <a asp-action="Edit" asp-route-id="@item.ClientId">Edit</a> <h7>|</h7>
                        <a asp-action="Delete" asp-route-id="@item.ClientId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentSurnameFilter="@ViewData["SurnameFilter"]"
   asp-route-currentNameFilter="@ViewData["NameFilter"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentSurnameFilter="@ViewData["SurnameFilter"]"
   asp-route-currentNameFilter="@ViewData["NameFilter"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>