@model PaginatedList<CsvDocumentWebViewer.Services.ModelsView.SalesView>

@{
    ViewData["Title"] = "Sales";
}

<h1>Sales</h1>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            from: <input type="date" name="startDate" value="@ViewData["StartDate"]" />
            to: <input type="date" name="endDate" value="@ViewData["EndDate"]" />
            min sum : <input type="number" name="minSum" value="@ViewData["MinSum"]" />
            max sum : <input type="number" name="maxSum" value="@ViewData["MaxSum"]" />
            <input type="submit" value="Search" class="btn btn-primary" />
            <h7>|</h7> <a asp-action="Index">Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Sale Id
            </th>
            <th>
                Manager
            </th>
            <th>
                Client
            </th>
            <th>
                Product
            </th>
            <th>
                Date
            </th>
            <th>
                Cost
            </th>
            <th>
                @if (User.IsInRole("admin"))
                {
                    <a asp-action="Create">Create New</a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SalesId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manager.Name)
                    @Html.DisplayFor(modelItem => item.Manager.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Client.Name)
                    @Html.DisplayFor(modelItem => item.Client.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SaleCost)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.SalesId">Details</a>
                    @if (User.IsInRole("admin"))
                    {
                        <h7>|</h7> <a asp-action="Edit" asp-route-id="@item.SalesId">Edit</a>
                        <h7>|</h7> <a asp-action="Delete" asp-route-id="@item.SalesId">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentStartDateFilter="@ViewData["StartDate"]"
   asp-route-currentEndDateFilter="@ViewData["EndDate"]"
   asp-route-currentMinSumFilter="@ViewData["MinSum"]"
   asp-route-currentMaxSumFilter="@ViewData["MaxSum"]"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentStartDateFilter="@ViewData["StartDate"]"
   asp-route-currentEndDateFilter="@ViewData["EndDate"]"
   asp-route-currentMinSumFilter="@ViewData["MinSum"]"
   asp-route-currentMaxSumFilter="@ViewData["MaxSum"]"
   class="btn btn-primary @nextDisabled">
    Next
</a>