@model IEnumerable<CsvDocumentWebViewer.Services.Models.ManagerView>

@{
    ViewData["Title"] = "Managers";
}

<h1>Managers</h1>


<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by surname: <input type="text" name="mamagerSurname" value="@ViewData["SurnameFilter"]" />
            Find by post: <input type="text" name="mamagerPost" value="@ViewData["PostFilter"]" />
            <input type="submit" value="Search" class="btn btn-primary" /> |
            <a asp-action="Index">Back to Full List</a>
        </p>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ManagerId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ManagerId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ManagerId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<p>
    <a asp-action="Create">Create New</a>
</p>